.DS_Store
.idea
*.log
tmp/

target

classes
.cpcache
.nrepl-port
node_modules


package-lock.json
uber.jar
.clj-kondo
.shadow-cljs
.rebel_readline_history
.lsp

/.rebel_readline_history
/.lsp/
/.clj-kondo/
node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/