body {
  font-family: "Inter", "Nimbus Sans", Helvetica, sans-serif;
  color: #ff859b;
  box-sizing: border-box;
}

h1 a {
  text-decoration: none;
}

.sh-table {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sh-img {
  height: 50px;
  width: 50px;
}

.sh-img-container {
  height: 50px;
  width: 50px;
}

.sh-name-container {
  padding: 10px;
}

.sh-name-container * {
  /* box-sizing: border-box; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sh-name-container a {
  font-weight: bold;
}

.sh-author {
  font-size: 0.8em;
}

.feed-ep {
  box-sizing: border-box;
  padding: 10px 0;
}

.feed-ep-title {
  padding: 5px 0;
  font-size: 1.5em;
  font-weight: bold;
}

.show-hero {
  height: 200px;
  width: 200px;
}

.ccontainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.speedsbox {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.speedsbox > button {
  cursor: pointer;
  border: 0;
  border-radius: 500px;
}

.activeSpeed {
  background-color: orange;
}

html,
body,
#app,
#overall,
#appcontainer {
  width: 100%;
  height: 100%;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
}

#overall {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 80%;
  width: 60%;
  background-color: #e0e0e0;
  z-index: 100;
  box-shadow: 0 0 30px #0004;
  border-radius: 12px;
  padding: 20px;
  overflow: hidden;
}

#searchoverlay {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.searchresults {
  overflow: auto;
  margin-top: 20px;
}

.shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 25%;
  z-index: 99;
}

#searchbox {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  height: 2em;
  border: 1px solid #c2c2c2;
}

#searchbox:focus {
  box-shadow: 0 0 10px  #ff859b;
}

.searchhed {
  font-size: 1.3em;
  font-weight: 800;
  margin-bottom: 12px;
}

#appcontainer {
  display: flex;
  flex-direction: column;
}

#main-view {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

.viewcolumn {
  flex: 1 1;
  background-color: #e0e0e0;
}

.viewcolumn + .viewcolumn {
  border-left: 1px solid #cdcdcd;
}

.listitem-imgcontainer {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: 0 12px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#detail-view {
  overflow: auto;
}

.listitem-img {
  width: 100%;
  height: 100%;
}

#top-view {
  overflow: auto;
}

.eps-view {
  flex: 1 1;
}

.listitem-castt {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.listitem-castname {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listitem-castauthor {
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cast-listitem {
  display: flex;
  flex-direction: row;
  min-height: 70px;
  align-items: center;
  margin: 10px;
  border-radius: 8px;
  background-color: #ebebeb;
  transition: box-shadow 0.1s;
}

.cast-searchitem {
  justify-content: space-between;
}

.cast-search-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  min-width: 0;
}

.ep-listitem {
  display: flex;
  flex-direction: row;
  min-height: 70px;
  align-items: center;
  margin: 10px;
  border-radius: 8px;
  background-color: #ebebeb;
  transition: box-shadow 0.1s;
}

.sidebuttons {
  margin: 10px;
  flex: 0 0 auto;
}

.searchsubbutton {
  border-radius: 500px;
  padding: 6px;
  font-weight: 700;
}

.itunesbutton {
  display: inline-block;
  /* width: 16px; */
  height: 16px;
  border-radius: 500px;
  background-color: #ff859b;
  color: #fff;
  padding: 6px;
  margin: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 13.333px;
  text-align: center;
  white-space: nowrap;
}

.loadingmessage {
  text-align: center;
  padding: 10px;
  color: #5c5c5c;
}

.searchsubbutton.unsubbed {
  border: none;
  background-color: #ff859b;
  color: #fff;
}

.searchsubbutton.subbed {
  border: solid #ff859b 2px;
  color: #ff859b;
  background-color: transparent;
}

.listitem-epwords {
  margin: 0 12px;
}

.cast-listitem:hover {
  box-shadow: 0 0 8px  #ff859ba0;
}

#player-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-coverart {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
  margin-top: 30px;
  border-radius: 8px;
  width: 70%;
  overflow: hidden;
}

#playbuttons > button {
  border: none;
  background-color: transparent;
  color: #ff859b;
}

.player-coverart:empty {
  padding-bottom: 70%;
}

/* .player-coverart::before { */
/*   content: ''; */
/*   display: block; */
/*   padding-top: 100%; */
/* } */

#searchbutton {
  background-color: transparent;
  font-size: 1.1em;
  color: #ff859b;
  border: solid #ff859b 2px;
  border-radius: 500px;
  display: flex;
  align-items: center;
}

#searchbutton > * {
  padding: 5px;
}

#top-bar {
  font-weight: 800;
  font-size: 1.3em;
  flex: 0 0 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ebebeb;
}

.detailtopview {
  /* background-color: hsl(0deg 0% 18%); */
  height: 352px;
  background-color: #ebebeb;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.player-times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-info {
  padding: 10px;
  width: 80%;
  text-align: center;
}

#player-title {
  font-weight: bold;
  font-size: 1.1em;
}

.player-controls {
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
}

#playbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#playbars {
  width: 100%;
}

#rangebar {
  width: 98%;
}

.controlbutton {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.dtvtitle {
  font-size: 2em;
  font-weight: 700;
  margin: 7px 0 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  flex: 0 0 auto;
  /* color: #ebebeb; */
}

.dtvborderitems {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.dtvauthor {
  color: #5c5c5c;
  font-weight: 700;
}

.dtvdesc {
  color: #5c5c5c;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* -webkit-line-clamp: 3; */
  flex: 1 0 auto;
  /* overflow: hidden; */
  /* display: block; */
  /* text-overflow: ellipsis; */
}

.dtvimgcontainer {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
}

.dtvimg {
  flex: 1 1 0;
  min-width: 0;
}

.player-coverart > img {
  max-width: 100%;
}

.dtvplaybutton {
  height: 55px;
  width: 55px;
  border: none;
  background-color: #ff859b;
  border-radius: 1000px;
  flex: 0 0 auto;
  font-size: 1.5em;
  text-align: center;
}

.dtvplaybutton > svg {
  color: #ebebeb;
}

.dtvsubbedbutton {
  height: 30px;
  width: 30px;
  border: #6bb4ff solid 3px;
  background-color: #6bb4ff;
  border-radius: 1000px;
}

.dtvsubbedbutton > svg {
  color: #ebebeb;
}

.dtvcontent {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 100%;
}

.dtvblurc {
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  position: absolute;
  overflow: hidden;
}

.dtvblur {
  width: 120%;
  height: 120%;
  position: absolute;
  z-index: 5;
  filter: blur(75px);
}
